.typeahead__ul {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eee;
  margin-top: 0;
  padding: 0;
}

[class^='typeahead__li'] {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    color: #000;
    background-color: lighten(#26a69a, 50%);
  }

  &.hovered {
    color: #000;
    background-color: lighten(#26a69a, 50%);
  }

  &:last-of-type {
    border-bottom: none;
  }
}
