.input__wrapper, .validation__wrapper {
  display: block;
  margin: 10% auto auto auto;
  padding: 1rem;
  max-width: 50vw;
  text-align: center; }

.validation__wrapper {
  margin: 0 auto; }

input#email {
  margin-bottom: 0px; }

.typeahead__ul {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eee;
  margin-top: 0;
  padding: 0; }
  .typeahead__ul.hidden {
    display: none; }

.typeahead__li {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 0.5rem; }
  .typeahead__li:hover {
    color: #000;
    background-color: #d6f6f3; }
  .typeahead__li:last-of-type {
    border-bottom: none; }
